.bordered {
    border: solid 1px;
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
    font-weight: bold;
}

p {
    word-wrap: break-word;
}

.navbar {
    margin-bottom: 0;
    transition-duration: 0.5s;
    /* background-color: transparent;
    background: rgba(100, 100, 100, 0.5); */
    opacity: 0.5;
    border: none;
}
/* .navbar.navbar-default .navbar-brand, .navbar-default .navbar-brand  */
.navbar.navbar-default .navbar-brand{
    color: #333;
}
.navbar-default .navbar-nav>li>a{
    color: #333;
}
.navbar.navbar-default.navbar-static-top a:hover {
    color: #000;
    font-weight: bold;
}

.centered {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.margin-d5{
    margin-bottom: 5px;
}