* {
	/* border: solid 1px; */
	margin: 0px;
	padding: 0px;
	position: relative;
	text-align: center;
	font-family: 微軟正黑體;
	text-align: center;
}



h1,h2,h3,h4,h5 {
	font-weight: bold;
	color: #333;
}

.headimg {
	border-radius: 50%;
	padding: 40px;
	width: 80%;
}

.jumbotron {
	margin: 0;
	padding: 0;
	height: 400px;
	max-height: 400px;
	background-color: #666;
	/* z-index: -1; */
}

.jumbotron img {
	width: 100%;
	position: absolute;
    left: 0px;
	top: -50px;
    /* z-index: -1; */
	transition-duration: 1s;
}

.jumbotron img:hover{
	transform: translateY(-30%);
}


section {
	padding: 50px;
}

.sec_about {
	background-color: #eee;
}

.sec_about i.fas,i.fab {
	font-size: 40px;
}

.sec_about .icons {
	padding: 10px;
}

.sec_about h3{
	/* color: #eee; */
	margin-top: 5px;
	margin-bottom: 15px;
}

.sec_about h1 {
	margin: 0;
}

.sec_about ul{
	list-style: none;
}

.sec_about hr {
	margin: 10px;
	border: solid 1px #999;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.sec_about li {
	border: solid 1px #aaa;
	border-radius: 5px;
	padding: 3px;
	margin: 3px;
	cursor: pointer;
	user-select: none;
	transition-duration: 0.5s;
}

.sec_about li:hover{
	color: #eee;
	background-color: #333;

}

.sec_intro {
	background-color: #333;
	color: #eee;
}

.sec_intro h1 {
	color: #eee;
	padding-bottom: 30px;
}

.sec_intro p {
	font-size: 18px;
	line-height: 30px;
}

.sec_exp .exp_item {
	padding: 20px;
	height: 170px;
}

.exp_item .row {
	border: solid 1px;
	padding: 5px;
	padding-bottom: 10px;
	min-height: 130px;
	border-radius: 10px;
	transition-duration: 0.5s;
}

.exp_item .row:hover {
	background-color: #eee;
	transform: scale(1.05);
	/* color: #eee; */
}

.exp_item img {
	height: 100%;
}

h6 {
	color: #f24;
}