@charset "UTF-8";
* {
  font-family: 微軟正黑體;
  position: relative;
}

/* .jumbotron {
  display: none;
} */

.jumbotron {
  text-align: center;
  margin-bottom: 0;
}
.jumbotron .slideup {
  position: absolute;
  right: 50px;
  bottom: 20px;
  border: solid 1px #aaa;
  border-radius: 100%;
  padding: 20px;
  transform: rotate(90deg);
  color: #aaa;
  cursor: pointer;
}

section.menubar {
  padding: 20px;
}
section.menubar .menu .ordertd {
  background-color: #eee;
  cursor: pointer;
  transition-duration: 0.5s;
  text-align: center;
}
section.menubar .menu .ordertd:hover {
  background-color: initial;
}
section.menubar .menu .deltd {
  text-align: center;
  cursor: pointer;
  transition-duration: 0.5s;
  font-weight: 900;
}
section.menubar .menu .deltd:hover {
  background-color: #333;
  color: red;
}

.addbar {
  padding: 10px;
  border: solid 1px #ccc;
  border-radius: 5px;
}
.addbar * {
  vertical-align: middle;
  text-align: center;
}
.addbar label.form-control {
  border: 0;
  box-shadow: none;
}

section.orderlist {
  padding: 20px;
}
section.orderlist h3 {
  font-weight: 900;
}
section.orderlist span.list-col {
  display: inline-block;
  width: calc( 16% - 1px );
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}
section.orderlist span.list-col.cate {
  border-left: solid 1px;
}
section.orderlist span.list-col.list-del {
  border-radius: 5px;
  font-weight: 900;
  background-color: #eee;
  cursor: pointer;
  transition-duration: 0.3s;
}
section.orderlist span.list-col.list-del:hover {
  background-color: #f24;
  color: white;
}

.glyphicon.glyphicon-star {
  color: gold;
}
