* {
    /* border: solid 1px; */
}

.blog-area{
    margin-top: 50px;
}

.blog-area p{
    word-wrap: break-word;
    text-indent: 2em;
}

.showimg {
    position: absolute;
    width: 200px;
    right: 30px;
    top: 100px;
    border-radius: 5px;
    transform: translate(50%,-100%);
}